/* global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', helvetica, arial, sans-serif;
}

/* padrão de cor */
:root{
    --amarelo: #ffb612;
    --amarelohover: #e89f00;
}

/* topo do site */
#alert{
    background: var(--amarelo);
    width: 1313px;
    height: 51px;
    text-align: center;
    color: #404040;
    font-size: 15px;
    padding: 15px;
}

#alert a{
    color: #404040;
    font-weight: bold;
}

/* header */
header{
    background-color: black;
    width: 100%;
    height: 94px;
}

header li{
    list-style: none;
    color: #f2f2ef;
    text-decoration: none;
}

header nav{
    width: 946px;
    height: 64px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 0 285px;
}

header li{
    margin: 0px 10px;
}

header li:hover{
    color: var(--amarelohover);
}

.linkmenu{
    list-style: none;
    color: #f2f2ef;
    text-decoration: none;
}

.linkmenu:hover{
    color: var(--amarelohover);
}

#header{
    width: 1200px;
    height: 94px;
    margin: 0px 74px;
    padding: 15px 20px;
    display: flex;
}

#barra{
    width: 24px;
    height: 33px;
    margin: 12px 0 0 20px;
    padding: 2px 0 0 0;
    align-items: center;
}

#barra:hover{
    cursor: pointer;
    color: var(--amarelo);
}

/* seção imagem */
.imagem{
    background-image: url(assets/background.PNG);
    background-size: cover;
    min-height: 90vh;
}

/* seção conteúdo */
#content{
    background: #202020;
    width: 1343px;
    height: 1285px;
    padding: 100px 20px 40px 20px;
    display: flex;
    justify-content: center;
}

/* campo de planos */
#plans{
    width: 1280px;
    height: 1145px;
    display: flex;
    justify-content: center;
    margin: 0px -15px;
}

/* campo de opções de planos */
#plansoption{
    width: 960px;
    height: 1121px;
    padding: 12px 15px 0px 15px;
    margin: 0px 0px 24px 0px;
    text-align: center;
}

.textarea{
    width: 930px;
    height: 141px;
    padding: 0px 15px;
    margin: 0px 0px 24px 0px;
}

.yourplan {
    color: white;
    font-size: 34px;
    text-align: center;
    margin: 0px 0px 24px 0px;
    line-height: 37px;
}

.text {
    color: white;
    font-size: 22px;
    text-align: center;
    padding: 12px 0px;
    line-height: 28px;
}
.yellowtext{
    color: var(--amarelo);
}

/* opções de plano black e smart */
.colun1{
    width: 400px;
    height: 900px;
    padding: 0px 15px;
    margin: 24px 0px 0px 0px;
    display: inline-flex;
    justify-content: center;
}

#blackplan{
    background: white;
    width: 300px;
    height: 900px;
    padding: 0px 0px 30px 0px;
}

#smartplan{
    background: white;
    width: 300px;
    height: 900px;
    padding: 0px 0px 30px 0px;
}

/* coluna com especificações de planos */
#header1{
    width: 300px;
    height: 144px;
    background: #000000;
    padding: 16px 0px 45px 0px;
}

#header2{
    width: 300px;
    height: 144px;
    background: var(--amarelo);
    padding: 16px 0px 45px 0px;
}

.plantext{
    font-size: 22px;
    line-height: 28px;
    color: white;
    text-transform: uppercase;
}

.blacktext{
    font-size: 50px;
    line-height: 55px;
    color: var(--amarelo);
    text-transform: uppercase;
    font-weight: 600;
}

.smarttext{
    font-size: 50px;
    line-height: 55px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
}

/* caixinha dentro da coluna de planos */
#yellowbox{
    background: var(--amarelo);
    width: 240px;
    height: 84px;
    padding: 5px;
    margin: -30px 30px 20px 30px;
}

#blackbox{
    background: #000000;
    width: 240px;
    height: 84px;
    padding: 5px;
    margin: -30px 30px 20px 30px;
    align-items: center;
}

.textspace{
    width: 230px;
    height: 48px;
    padding: 3px;
}

.text1{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

.text2{
    color: #000000;
    text-transform: unset;
    margin-top: 5px;
}

.text3{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

.valuetext1{
    color: #000000;
    font-size: 20px;
    font-weight: 500;
}

.valuetext2{
    color: var(--amarelo);
    font-size: 20px;
    font-weight: 500;
}

/* campo de descrição dos planos */
.description{
    width: 300px;
    height: 533px;
    padding: 0px 20px;
}

.textdescription{
    font-size: 20px;
    color: #212529;
    margin: 0px 0px 24px 0px;
    text-align: center;
    line-height: 23px;
}

.line{
    opacity: 0.3;
    margin: 0px 0px 24px 0px;
}

.differential{
    font-size: 14px;
    color: #808080;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0px 0px 12px 0px;
}

.awards{
    color: #212529;
    margin: 0px 0px 24px 0px;
    font-weight: 500;
    font-size: 18px;
}

/* campo com botão aproveite */
.areabutton{
    width: 300px;
    height: 67px;
}

.button{
    background: #d52b1e;
    color: white;
    width: 208px;
    height: 67px;
    padding: 20px 50px;
    font-size: 18px;
    border-radius: 4px;
    border: none;
    outline: none;
    text-transform: uppercase;
}

.button:hover{
    cursor: pointer;
}

.regulation{
    color: #808080;
    font-size: 18px;
    margin: 24px 0px 0px 0px;
}

/* seção com salas da academia */
#academyclass{
    width: 1343px;
    height: 1136px;
    padding: 100px 20px 40px 20px;
}

#knowarea{
    width: 1280px;
    height: 107px;
    padding: 0px 15px;
    margin: 0px 0px 24px 0px;
}

.knowtext{
    font-size: 50px;
    line-height: 55px;
    text-align: center;
    margin: 0px 0px 24px 0px;
}

.knowdescription{
    font-size: 22px;
    line-height: 28px;
    text-align: center;
}

/* área de imagens das salas da academia */
#imagearea{
    width: 1280px;
    height: 841px;
    margin: 0px 15px 24px 15px;
}

.imagecontent{
    width: 426px;
    height: 408px;
    padding: 12px 15px 0px 15px;
    margin: 0px 0px 12px 0px;
    float: left;
}

.clear{
    clear: both;
}

.imagetitle{
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 15px;
    margin: -54px 0px 0px 0px;
    text-align: center;
    text-transform: uppercase;
}

/* seção vencer a covid-19 */
#covidwin{
    width: 1343px;
    height: 1033px;
    padding: 100px 20px 40px 20px;
    display: block;
    justify-content: center;
}

#covidinformation{
    width: 1280px;
    height: 574px;
    padding: 0px 15px;
}

.wintext{
    font-size: 34px;
    line-height: 37px;
    text-align: center;
    margin: 0px 0px 24px 0px;
}

.helptext{
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    margin: 0px 0px 24px 0px;
}

.bold{
    font-weight: 600;
}

.changetext{
    font-size: 35px;
    line-height: 52px;
    text-align: center;
    margin: 0px 0px 24px 0px;
}

#carearea{
    width: 1250px;
    height: 325px;
    margin: 0px 15px 60px 15px;
    display: inline-flex;
}

.covidcare{
    background: var(--amarelo);
    width: 193px;
    height: 325px;
    padding: 15px;
    margin: 0px 15px 0px 0px;
}

.caretitle{
    font-size: 22px;
    text-align: center;
    font-weight: 500;
}

.icons{
    margin: 20px 36px;
}

.caredescription{
    width: 163px;
    height: 84px;
    line-height: 21px;
    font-size: 15px;
    text-align: center;
}

.caredescription a{
    color: #202020;
}

/* seção de cuidados básicos ao covid-19 */
#basicscare{
    width: 1280px;
    height: 76px;
    padding: 0px 15px;k;
}

.basictitle{
    font-size: 35px;
    line-height: 52px;
    margin: 0px 0px 24px 0px;
    text-align: center;
}

.guidancecare{
    width: 320px;
    height: 124px;
    padding: 0px 15px;
    margin: 24px 0px 0px 0px;
}

.guidancetitle{
    font-size: 30px;
    line-height: 45px;
    text-align: center;
}

.guidanceline{
    opacity: 0.3;
    width: 240px;
    margin: 12px 0px 12px 25px; 
}

.guidancedescription{
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

#guidancagroup{
    width: 1280px;
    margin: 24px 0px 0px 0px;
    display: inline-flex;
    justify-content: space-between;
    padding: 0px 20px;
}

/* botão saiba mais covid-19 */
#knowmore{
    width: 1280px;
    height: 71px;
    padding: 24px 15px 0px 15px;
    margin: 24px 0px 0px 0px;
    text-align: center;
}

#knowbutton{
    background: #d52b1e;
    color: white;
    font-size: 18px;
    width: 230px;
    height: 47px;
    border-radius: 4px;
    border: none;
    outline: none;
    text-transform: uppercase;
}

#knowbutton a{
    text-decoration: none;
    color: white;
}

#knowbutton:hover{
    cursor: pointer;
}

/* Seção turbe os seus resultados */
#results{
    width: 1343px;
    height: 830px;
    padding: 100px 0px;
    margin-top: 20px;
}

#resultstext{
    font-size: 35px;
    line-height: 52px;
    text-align: center;
    padding: 0px 20px;
    margin: 0px 0px 24px 0px;
}

#nutriarea{
    width: 1343px;
    height: 554px;
    padding: 0px 20px 40px 20px;
    display: inline-flex;
    justify-content: space-around;
}

.nutricard{
    width: 384px;
    height: 467px;
    border: 1px solid grey;
    border-radius: 8px;
}

.nutrititle{
    background: var(--amarelo);
    padding: 5px 20px;
    font-size: 24px;
    text-align: center;
    line-height: 36px;
    border-radius: 7px 7px 0px 0px;
}

.cardtext{
    width: 382px;
    height: 150px;
    padding: 20px;
}

.teamtext{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin: 0px 0px 24px 0px;
}

.teamdescription{
    text-align: center;
    font-size: 15px;
}

.nutributtonarea{
    width: 382px;
    height: 68px;
    padding: 0px 20px 20px 20px;
    text-align: center;
}

.nutributton{
    background: var(--amarelo);
    color: #000000;
    width: 198px;
    height: 48px;
    padding: 12px 40px;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    outline: none;
    text-decoration: none;
}

.nutributton a{
    text-decoration: none;
    color: #000000;
}

.nutributton:hover{
    cursor: pointer;
}

